---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
ShortNamespaceLines: 0

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: Always
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: false
    BeforeCatch: true
    BeforeElse: true
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignTrailingComments: true

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: false

PointerAlignment: Left
ReferenceAlignment: Left

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"jyglobalvst/'
    Priority: 1
  - Regex: '^"'
    Priority: 2
  - Regex: '^<juce_'
    Priority: 3
  - Regex: '^<nlohmann/'
    Priority: 4
  - Regex: '^<gtest/'
    Priority: 5
  - Regex: '^<windows\.h>$'
    Priority: 7
  - Regex: '^<[a-z_]+\.h>$'
    Priority: 8
  - Regex: '^<.*>$'
    Priority: 6

SortIncludes: CaseInsensitive
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 2
EmptyLineBeforeAccessModifier: LogicalBlock
SeparateDefinitionBlocks: Always
